*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: #ffffff;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.2px solid transparent;
    padding: 5px;
}

.border:hover{
    border: 1.2px solid #ffffff;
}

.search-border{
    border: 1.2px solid transparent;
}

.address-icon{
    display: flex;
    align-items: center;
    padding: 5px;
}

.deliver-text{
    color: #cccccc;
    font-size: 0.8rem;
    /* align-self: flex-end; */
    margin-left: 15px;
}

.address{
    font-size: 1rem;
    margin-left: 3px;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    height: 40px;
    /* background-color: orange; */
    border-radius: 4px;
}

.nav-search:hover{
    border: 2.3px solid orange;
    border-radius: 6px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 0.96rem;
    border: none;
    padding: 5px 5px 5px 15px;
}

.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #febd68; */
    background-color: orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-icon i{
    color: #0f1111;
    font-size: 1.2rem;
}

.nav-language{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0 0 0;
}

.nav-language img{
    width: 21px;
    height: 15px;
}

.nav-language p{
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0 0 0 4px;
}

.nav-sign-in span{
    font-size: 0.78rem;
}

.bold-text{
    font-size: 0.9rem;
    font-weight: 700;
}

.nav-return span{
    font-size: 0.78rem;
}

.nav-cart i{
    font-size: 24px;
}

.nav-cart{
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0 10px 0 0;
    padding: 10px;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-ops p{
    display: inline;
    margin-left: 10px;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

main{
    background-color: #e2e7e6;
}

.hero-section{
    /* background-image: url("images/hero_image.jpg"); */
    background-size: cover;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: animate 20s linear infinite;
}

.hero-msg{
    background-color: #ffffff;
    color: #000000;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;

}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 50vh;
}

.box{
    /* border: 2px solid black; */
    height: 380px;
    width: 23%;
    background-color: #fff;
    padding: 20px 0px 15px;
    margin-top: 1rem;
}

.box-img{
    height: 310px;
    background-size: cover;
    margin: 0.7rem 0 1rem 0;
}

.box-content{
    margin: 0 1rem 0 1rem;
}

.box-content p{
    color: #007185;
}

.top-picks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.top-picks-card{
    background-color: #fff;
    height: 260px;
    width: 95%;
    padding: 12px;
}

.top-picks-images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-picks-card h1{
    font-size: 1.5rem;
    margin: 5px 0 10px 0;
}

.best-sellings{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.best-sellings-card{
    background-color: #fff;
    height: 260px;
    width: 95%;
    padding: 12px;
}

.best-sellings-images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 97.5%;
}

.deals-cards{
    display: flex;
    /* width: 95%; */
    justify-content: center;
    align-items: center;
}

.deals-card-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.deals-card-images{
    height: 100px;
    width: 150px;
}

.deals-card-content-accessories{
    font-size: 0.82rem;
    margin: 10px 0 3px 20px;
}

.gaming-accessories-card{
    height: 390px;
    width: 350px;
    background-color: #fff;
    margin: 15px 7px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gaming-accessories-card h4{
    font-size: 1.2rem;
    margin-left: 10px;
}

.gaming-accessories-card > p{
    color: #007185;
    margin-left: 1rem;
    font-size: 0.8rem;
}

.shop-deals-card{
    height: 390px;
    width: 350px;
    background-color: #fff;
    margin: 15px 7px 10px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.shop-deals-card h4{
    font-size: 1.2rem;
    margin-left: 10px;
}

.shop-deals-card > p{
    color: #007185;
    margin-left: 1rem;
    font-size: 0.8rem;
}

.pc-deals-card{
    height: 390px;
    width: 350px;
    background-color: #fff;
    margin: 15px 7px 10px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pc-deals-card h4{
    font-size: 1.2rem;
    margin-left: 10px;
}

.pc-deals-card > p{
    color: #007185;
    margin-left: 1rem;
    font-size: 0.8rem;
}

.refresh-card{
    height: 390px;
    width: 350px;
    background-color: #fff;
    margin: 15px 0 10px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.refresh-card h4{
    font-size: 1.2rem;
    margin-left: 10px;
}

.refresh-card > p{
    color: #007185;
    margin-left: 1rem;
    font-size: 0.8rem;
}

.gifts-card{
    height: 390px;
    width: 350px;
    background-color: #fff;
    margin: 5px 7px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gifts-card h4{
    font-size: 1.2rem;
    margin-left: 10px;
}

.gifts-card > p{
    color: #007185;
    margin-left: 1rem;
    font-size: 0.8rem;
}

.gift-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.gift-item img{
    width: 120px;
    height: 135px;
}

.gift-item > p{
    font-size: 0.8rem;
    text-align: center;
    margin: 3px 3px 0 3px;
}

.gift-item-price{
    display: flex;
    margin-left: 10px;
}

.gift-item-price h5{
    font-size: 1.2rem;
    font-weight: 500;
}

.gift-item-price sup{
    font-size: 0.7rem;
}

.gift-item-price p{
    color: #565659;
    font-size: 0.82rem;
    margin: 0 0 0 7px;
}

.gift-item-price p span{
    text-decoration: line-through;
}

.other-gifts{
    display: flex;
    justify-content: space-evenly;
}

.other-gift-container{
    height: 65px;
    width: 65px;
    /* background-color: #007185; */
    border: 1px solid #000;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-gift-images{
    height: 52px;
    width: 40px;
    border-radius: 5px;
}

.airpods{
    border: 3px solid #007185;
}

.beauty-routine-card{
    height: 390px;
    width: 350px;
    background-color: #fff;
    margin: 5px 7px 10px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.beauty-routine-card h4{
    font-size: 1.2rem;
    margin-left: 10px;
}

.beauty-routine-card > p{
    color: #007185;
    margin-left: 1rem;
    font-size: 0.8rem;
}

.activity-tracker-card{
    height: 390px;
    width: 350px;
    background-color: #fff;
    margin: 5px 7px 10px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.activity-tracker-card h4{
    font-size: 1.2rem;
    margin-left: 10px;
}

.activity-tracker-card > p{
    color: #007185;
    margin-left: 1rem;
    font-size: 0.8rem;
}

.activity-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 85%; */
}

.fun-with-family-card{
    height: 390px;
    width: 350px;
    background-color: #fff;
    margin: 5px 0 10px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fun-with-family-card h4{
    font-size: 1.2rem;
    margin-left: 10px;
}

.fun-with-family-card > p{
    color: #007185;
    margin-left: 1rem;
    font-size: 0.8rem;
}

.footer-top-panel{
    background-color: #37475a;
    color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.footer-service-panel{
    display: flex;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: #ffffff;
    height: 300px;
    padding-top: 25px;
    /* align-items: center; */
}

.footer-service-panel ul p{
    font-weight: 700;
}

.footer-service-panel ul a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 0.88rem;
    margin-top: 10px;
    color: #dddddd;
}

.footer-bottom-panel{
    background-color: #222f3d;
    color: #ffffff;
    border-top: 0.5px solid grey;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.footer-copyright-panel{
    background-color: #0f1111;
    color: #fff;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pages a{
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
    margin: 25px;
    /* text-align: center; */
}

.copyright{
    font-size: 0.8rem;
    /* text-align: center; */
    margin-top: 10px;
}

@keyframes animate{
    0%{
        background-image: url("images/main/hero_image.jpg");
    }
    25%{
        background-image: url("images/main/shop-books.jpg");
    }
    50%{
        background-image: url("images/main/beauty_products.jpg");
    }
    75%{
        background-image: url("images/main/games.jpg");
    }
    100%{
        background-image: url("images/main/hero_image.jpg");
    }
} 