*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: #ffffff;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.2px solid transparent;
    padding: 5px;
}

.border:hover{
    border: 1.2px solid #ffffff;
}

.search-border{
    border: 1.2px solid transparent;
}

.address-icon{
    display: flex;
    align-items: center;
    padding: 5px;
}

.deliver-text{
    color: #cccccc;
    font-size: 0.8rem;
    /* align-self: flex-end; */
    margin-left: 15px;
}

.address{
    font-size: 1rem;
    margin-left: 3px;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    height: 40px;
    /* background-color: orange; */
    border-radius: 4px;
}

.nav-search:hover{
    border: 2.3px solid orange;
    border-radius: 6px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 0.96rem;
    border: none;
    padding: 5px 5px 5px 15px;
}

.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #febd68; */
    background-color: orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-icon i{
    color: #0f1111;
    font-size: 1.2rem;
}

.nav-language{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0 0 0;
}

.nav-language img{
    width: 21px;
    height: 15px;
}

.nav-language p{
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0 0 0 4px;
}

.nav-sign-in span{
    font-size: 0.78rem;
}

.bold-text{
    font-size: 0.9rem;
    font-weight: 700;
}

.nav-return span{
    font-size: 0.78rem;
}

.nav-cart i{
    font-size: 24px;
}

.nav-cart{
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0 10px 0 0;
    padding: 10px;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-ops p{
    display: inline;
    margin-left: 10px;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

main{
    background-color: #e2e7e6;
}

.hero-section{
    /* background-image: url("images/hero_image.jpg"); */
    background-size: cover;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: animate 20s linear infinite;
}

.hero-msg{
    background-color: #ffffff;
    color: #000000;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;

}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 50vh;
}

.box{
    /* border: 2px solid black; */
    height: 380px;
    width: 23%;
    background-color: #fff;
    padding: 20px 0px 15px;
    margin-top: 1rem;
}

.box-img{
    height: 310px;
    background-size: cover;
    margin: 0.7rem 0 1rem 0;
}

.box-content{
    margin: 0 1rem 0 1rem;
}

.box-content p{
    color: #007185;
}

.top-picks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.top-picks-card{
    background-color: #fff;
    height: 260px;
    width: 95%;
    padding: 12px;
}

.top-picks-images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-picks-card h1{
    font-size: 1.5rem;
    margin: 5px 0 10px 0;
}

.best-sellings{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.best-sellings-card{
    background-color: #fff;
    height: 260px;
    width: 95%;
    padding: 12px;
}

.best-sellings-images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-top-panel{
    background-color: #37475a;
    color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.footer-service-panel{
    display: flex;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: #ffffff;
    height: 300px;
    padding-top: 25px;
    /* align-items: center; */
}

.footer-service-panel ul p{
    font-weight: 700;
}

.footer-service-panel ul a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 0.88rem;
    margin-top: 10px;
    color: #dddddd;
}

.footer-bottom-panel{
    background-color: #222f3d;
    color: #ffffff;
    border-top: 0.5px solid grey;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.footer-copyright-panel{
    background-color: #0f1111;
    color: #fff;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pages a{
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
    margin: 25px;
    /* text-align: center; */
}

.copyright{
    font-size: 0.8rem;
    /* text-align: center; */
    margin-top: 10px;
}

@keyframes animate{
    0%{
        background-image: url("images/main/hero_image.jpg");
    }
    25%{
        background-image: url("images/main/shop-books.jpg");
    }
    50%{
        background-image: url("images/main/beauty_products.jpg");
    }
    75%{
        background-image: url("images/main/games.jpg");
    }
    100%{
        background-image: url("images/main/hero_image.jpg");
    }
} 